html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}


td,th{
    border:solid 2px black;
    height: 30px;
}
th{
    color:red;
}
td{
    color:black;
}
table{
    border-collapse: collapse;
    width:100%;
    text-align:center;
}
.all{
    width: 100%;
    margin: 0 auto;
    min-height: calc(100% - 60px);
}
.page_content {
    padding:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    color:grey;
    font-size:18px;
    line-height: 1.4em;


}
.heading{
    position:relative;
    text-align: center;
    font-size:32px;
    font-family:'Courgette','Georgia', 'Times New Roman', 'Times', serif;
    color:darkgrey;

}
.heading:before {
    content: "";
    position: absolute;
    display: block;
    border-top: solid 3px darkgrey;
    width:100%;
    top: 50%;
    z-index: 0;
}
.heading span {
    position: relative;
    background:white;
    padding: 5px;
    width:100%;
    z-index: 1;

}

form{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:darkgrey;
    font-size:20px;
    line-height: 1.4em;
    margin:10px;

}
.form_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

form fieldset{
    width:auto;
margin:10px;
    padding: 10px;
    border:solid 3px darkgrey;
    border-radius:8px;
    line-height: 1.4em;


}
form div{
    padding:5px;

}

form label {
    margin:5px;
    width: 160px;
text-align: left;
    font-size: 22px;

}
form input{
    width:160px;
    border:solid 3px darkgrey;
    border-radius:8px;
    padding: 2px;
    margin:5px;
    outline: none;
float: right;
}
form input:focus {
    background-color:lightgrey;
    border:solid 4px lightcoral;
}
form input:hover {
    background-color:lightgrey ;
    border:solid 4px lightcoral;
}
.submit{
    position:relative;
    text-align: center;
}

button {
    border:3px solid darkgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;border-radius: 3px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color: #FFFFFF;
    background-color: #d3d3d3;
    background-image:-webkit-linear-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
    padding: 10px 24px;
    margin:5px;
    border-radius:8px;
    font-size: 16px;
    font-family:'Courgette','Georgia', 'Times New Roman', 'Times', serif;
    cursor: pointer;

}
button:hover{
    border:4px solid lightcoral;
    background-color: #bababa;
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
    background-image: -webkit-linear-gradient(top, #bababa, #575757);
    background-image: -moz-linear-gradient(top, #bababa, #575757);
    background-image: -ms-linear-gradient(top, #bababa, #575757);
    background-image: -o-linear-gradient(top, #bababa, #575757);
    background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}
button:active{
    border:5px solid lightcoral;
}

.message, .welcome{
    margin:15px;
    text-align: center;
}
.message h1{
    color:lightcoral;
    padding: 10px;
}
.message h2{
    margin:5px;
    padding: 10px;
}

.buttons_div{
    padding:10px 30px 10px 30px;
}
.buttons_div button{
    width:15%;
    margin:10px;
    display:inline-block;


}

.message h3{
    padding:10px;
}
.welcome h1{
    padding:15px;
}

.message button{
    margin:10px;
    position:relative;
    text-align: center;

}
.reference{
    color: darkgrey;
    text-decoration:none ;

}
.reference:hover{
    color: lightcoral;
    text-decoration:none ;
    font-size: 26px;
}
.mark{
    color:lightcoral;
}
.application_name{
    color: lightcoral;
    font-size: 42px;
}

.info {
    width:50%;
    margin:40px auto 40px auto;
    padding: 0px;
    overflow: auto;
    background-color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    color: grey;
    font-size:16px;
}
.info li {
    padding: 0px;
    list-style-type: none;
}
.accordion_control {
    border:3px solid darkgrey;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;border-radius: 3px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color: #FFFFFF;
    background-color: #d3d3d3;
    background-image:-webkit-linear-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
    background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
    background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
    background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
    display: block;
    width: 100%;
    padding: 10px;
    margin:0px;
    font-family:'Courgette', 'Georgia', 'Times New Roman', 'Times', serif;
    font-size:20px;
    border-radius:8px;
}
.accordion_control:hover{
    cursor:pointer;
    border:4px solid lightcoral;
    background-color: #bababa;
    background-image: -webkit-linear-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
    background-image: -webkit-linear-gradient(top, #bababa, #575757);
    background-image: -moz-linear-gradient(top, #bababa, #575757);
    background-image: -ms-linear-gradient(top, #bababa, #575757);
    background-image: -o-linear-gradient(top, #bababa, #575757);
    background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}
.accordion_control:active{
    border:5px solid lightcoral;
}
.accordion_panel {
    display:none;
}
.accordion_panel p {
    margin:20px;
}
.important_content{
    color: lightcoral;
    font-size: 20px;
}
.error_message{
    color:lightcoral;
    font-size:14px; ;
}

