<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h2>You can't access this page!</h2>
<h2><a style="color:purple" th:href="'/homepage'"> Back to homepage</a></h2>
</body>
</html>