<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Team details</title>
</head>
<body>
<div class="header" th:fragment="header"
     style="height: 300px;width: 100%;color: white;font-size: 52px;font-family: 'Courgette', 'Georgia', 'Times New Roman', 'Times', serif;text-align: center;background-image: url('images/image1.jpg');background-size: 100% 100%;background-position: center;background-attachment: scroll;">
    <h1 class="title" style="padding-top: 30px;">Speedway Application</h1>
    <nav class="menu" th:fragment="menu" style="padding-top: 50px">
        <style>
            .menu ul li {
                list-style-type: none;
                display: inline;
                color: white;
                font-size: 32px;
                padding: 30px;

            }
            .menu a {
                color: white;
                text-decoration-line: none;
            }
            .menu a:hover {
                color: darkgrey;
                text-decoration: underline;
            }
        </style>
        <ul>
            <li><a th:href="'homepage'">Homepage</a></li>
            <li><a th:href="'user_profile'">My profile</a></li>
            <li><a th:href="'create_player'">Add player</a></li>
            <li><a th:href="'create_team'">Add team</a></li>
            <li><a th:href="'create_game'">Add game</a></li>
        </ul>
    </nav>
</div>
<div class="footer" th:fragment="footer"
     style="height: 60px;width: 100%;padding: 20px;background-color: darkgrey; color: white;font-size: 18px;font-family: 'Courgette', 'Georgia', 'Times New Roman', 'Times', serif;text-align: center;">
    <p>© 2021 Speedway Application. All Rights Reserved. Created by Martyna.Copying and distribution without the
        consent of the author is prohibited.</p>
</div>

</body>
</html>