<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Races</title>
</head>
<body>

<div th:if="${hostsPlayers.size()} < 2 or ${guestsPlayers.size()} < 2">
    <h2>Sorry,you don't have minimum two players in one of the team so you can't create a race!</h2>
    <h2>Please create new player and add it to your team!</h2>
    <h2><a th:href="'create_player'">Create player</a></h2>
</div>
<div th:unless="${hostsPlayers.size()} < 2 or ${guestsPlayers.size()} < 2">
    <h1>Create races to your game</h1>
    <form action="#" th:action="@{/create_races/{id}(id=${gameId})}" th:object="${createUpdateRaceDTO}" method="post">
        <label>
            Race number:
            <select th:field="*{number}">
    <span th:each="raceNumber:${raceNumbers}">
    <option th:value="${raceNumber}"><span th:text="${raceNumber}"></span></option>
    </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">
            </div>
        </label>
        </br>
        <label>
            Red Helmet Player:
            <select th:field="*{redHelmetHostsPlayerId}">
                <span th:each="player:${hostsPlayers}">
                    <option th:value="${player.id}"><span
                            th:text="${player.firstName} + ' ' + ${player.lastName}"></span></option>
                </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('redHelmetHostsPlayerId')}"
                 th:errors="*{redHelmetHostsPlayerId}">
            </div>
        </label>
        </br>
        <label>
            Red helmet Player Points:
            <input type="radio" th:field="*{pointsRedHelmetHostsPlayer}" th:each="point:${points}" th:value="${point}"
                   th:text="${point}">
            <div style="color:red" th:if="${#fields.hasErrors('pointsRedHelmetHostsPlayer')}"
                 th:errors="*{pointsRedHelmetHostsPlayer}">
            </div>
        </label>
        </br>
        <label>
            Blue Helmet Player:
            <select th:field="*{blueHelmetHostsPlayerId}">
                <span th:each="player:${hostsPlayers}">
                    <option th:value="${player.id}"><span
                            th:text="${player.firstName} + ' ' + ${player.lastName}"></span></option>
                </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('blueHelmetHostsPlayerId')}"
                 th:errors="*{blueHelmetHostsPlayerId}">
            </div>
        </label>
        </br>
        <label>
            Blue Helmet Player Points:
            <input type="radio" th:field="*{pointsBlueHelmetHostsPlayer}" th:each="point:${points}" th:value="${point}"
                   th:text="${point}">
            <div style="color:red" th:if="${#fields.hasErrors('pointsBlueHelmetHostsPlayer')}"
                 th:errors="*{pointsBlueHelmetHostsPlayer}"></div>
        </label>
        </br>
        <label>
            White Helmet Player:
            <select th:field="*{whiteHelmetGuestsPlayerId}">
                <span th:each="player:${guestsPlayers}">
                    <option th:value="${player.id}"><span
                            th:text="${player.firstName} + ' ' + ${player.lastName}"></span></option>
                </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('whiteHelmetGuestsPlayerId')}"
                 th:errors="*{whiteHelmetGuestsPlayerId}">
            </div>
        </label>
        </br>
        <label>
            White helmet Player Points:
            <input type="radio" th:field="*{pointsWhiteHelmetGuestsPlayer}" th:each="point:${points}"
                   th:value="${point}" th:text="${point}"></br>
            <div style="color:red" th:if="${#fields.hasErrors('pointsWhiteHelmetGuestsPlayer')}"
                 th:errors="*{pointsWhiteHelmetGuestsPlayer}"></div>
        </label>
        <label>
            Yellow Helmet Player:
            <select th:field="*{yellowHelmetGuestsPlayerId}">
                <span th:each="player:${guestsPlayers}">
                    <option th:value="${player.id}"><span
                            th:text="${player.firstName} + ' ' + ${player.lastName}"></span></option>
                </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('yellowHelmetGuestsPlayerId')}"
                 th:errors="*{yellowHelmetGuestsPlayerId}">
            </div>
        </label>
        </br>
        <label>
            Yellow helmet Player Points:
            <input type="radio" th:field="*{pointsYellowHelmetGuestsPlayer}" th:each="point:${points}"
                   th:value="${point}" th:text="${point}">
            <div style="color:red" th:if="${#fields.hasErrors('pointsYellowHelmetGuestsPlayer')}"
                 th:errors="*{pointsYellowHelmetGuestsPlayer}"></div>
        </label>
        </br>
        <input type="submit" value="Create"/>
    </form>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>