<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Create new player</title>
</head>
<body>
<div th:if="${userTeams.isEmpty()}">
    <h2>Sorry you can't create a player, first you need to create a team to which you can add a player </h2>
    <h2><a th:href="'create_team'">Create team</a></h2>
</div>
<div th:unless="${userTeams.isEmpty()}">
    <h1>Create new player</h1>
    <form action="#" th:action="@{/create_player}" th:object="${createPlayerDTO}" method="post">
        <label>
            First Name:
            <input type="text" th:field="*{firstName}">
            <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </label>
        </br>
        <label>
            Last Name:
            <input type="text" th:field="*{lastName}">
            <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </label>
        </br>
        <label>
            Nick name:
            <input type="text" th:field="*{nickName}">
            <div style="color:red" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></div>
        </label>
        </br>
        <label>
            BirthYear:
            <input type="text" th:field="*{birthYear}">
            <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}"></div>
        </label>
        </br>
        <label>
            Nationality:
            <select th:field="*{nationality}">
        <span th:each="nationality : ${nationalityList}">
            <option th:value="${nationality}"><span th:text="${nationality}"></span></option>
        </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></div>
        </label>
        </br>
        <label>
            Team:
            <select th:field="*{teamId}">
        <span th:each="team:${userTeams}">
            <option th:value="${team.id}"><span th:text="${team.name}"></span></option>
        </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('teamId')}" th:errors="*{teamId}">
            </div>
        </label>
        </br>
        <input type="submit" value="Create"/>
    </form>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>