<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Create Game</title>
</head>
<body>
<div th:if="${userTeamNames.size()} < 2">
    <h2>Sorry you can't create the game, first you need to create at least two teams and add players to them</h2>
    <h2><a th:href="'create_team'">Create team</a></h2>
</div>
<div th:unless="${userTeamNames.size()} < 2">
    <h1>Create new game</h1>
    <form action="#" th:action="@{/create_game}" th:object="${createUpdateGameDTO}" method="post">
        <label>
            Description:
            <textarea type="text" th:field="*{description}"></textarea>
            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
            </div>
        </label>
        </br>
        <label>
            Date:
            <input type="date" th:field="*{date}"></br>
            <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
            </div>
        </label>
        </br>
        <label>
            Hosts:
            <select th:field="*{hostsName}">
        <span th:each="team:${userTeamNames}">
            <option th:value="${team}"><span th:text="${team}"></span></option>
        </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('hostsName')}" th:errors="*{hostsName}">
            </div>
        </label>
        </br>
        <label>
            Guests:
            <select th:field="*{guestsName}">
        <span th:each="team:${userTeamNames}">
            <option th:value="${team}"><span th:text="${team}"></span></option>
        </span>
            </select>
            <div style="color:red" th:if="${#fields.hasErrors('guestsName')}" th:errors="*{guestsName}">
            </div>
        </label>
        </br>
        <input type="submit" value="Create"/>
    </form>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>