<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Team Statement</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h2>Do you want to delete this team?</h2>
<h3>When you do this, players belonging to this team and games in which team participated will also be deleted</h3>
<h3><a th:href="'/delete_team?id=' + ${team.id}">Yes, delete this team</a></h3>
<h3><a th:href="'/user_teams?id=' + ${user.id}">No,don't delete this team</a></h3>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>