<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Profile Statement</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h2 th:text="${user.login}  + ' do you want delete your profile?'"></h2>
<h3>Your teams,games and players will be deleted too!</h3>
<h3><a th:href="'/delete_user?id=' + ${user.id}">Yes, delete my profile</a></h3>
<h3><a th:href="'/user_profile?id=' + ${user.id}">No, don't delete my profile</a></h3>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>