<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Player Statement</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h2>Do you want to delete this player?</h2>
<h3>When you do this races in which he participates will also be deleted</h3>
<h3><a th:href="'/delete_player?id=' + ${player.id}">Yes, delete this player</a></h3>
<h3><a th:href="'/user_players?id=' + ${user.id}">No,don't delete this player</a></h3>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>