<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Race Statement</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h2>Do you want to delete this race?</h2>
<h3><a th:href="'/delete_race?id=' + ${race.id}">Yes,delete this race</a></h3>
<h3><a th:href="'/game_details?id=' + ${game.id}">No, don't delete this race</a></h3>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>