<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Different Passwords Error</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1 style="color:red">Error!</h1>
<h2>Password and repeated password must be the same,please try again!</h2>
<h2>
    <a th:href="'create_user'">Create new user</a>
</h2>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>