<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Different Passwords Update Error</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1 style="color:red">Error!</h1>
<h2>Password and repeated password must be the same,please try again!</h2>
<h3><a th:href="'/update_user?id=' + ${userDTO.id}">Update user again</a></h3>
<h3><a th:href="'/user_profile?id=' + ${userDTO.id}">Your profile</a></h3>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>