<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Game Details</title>
</head>
<body>
<h1>Game details:</h1>
<h2 th:text="'Game description: ' + ${gameDto.description}"/>
<h2 th:text="'Game date: ' + ${gameDto.date}"/>
<h2 th:text="'Game hosts: ' + ${gameDto.hostsName}"/>
<h2 th:text="'Game host points: ' + ${gameDto.hostPoints}"/>
<h2 th:text="'Game guest: ' + ${gameDto.guestsName}"/>
<h2 th:text="'Game guest points: ' + ${gameDto.guestPoints}"/>
<h2>Races :</h2>
<div th:if="${races.isEmpty()} or ${races == null} ">
    <h2 style="color: red">This game has no races yet!</h2>
    <h3><a th:href="'/create_races?gameId=' + ${gameDto.id}">Create races</a></h3>
</div>
<div th:unless="${races.isEmpty()} or ${races == null}">
    <table>
        <tr>
            <th>Race Number</th>
            <th>Red Helmet Player</th>
            <th>Red Helmet Player Points</th>
            <th>Blue Helmet Player</th>
            <th>Blue Helmet Player Points</th>
            <th>White Helmet Player</th>
            <th>White Helmet Player Points</th>
            <th>Yellow Helmet Player</th>
            <th>Yellow Helmet Player Points</th>
            <th>Hosts</th>
            <th>Hosts Points</th>
            <th>Guests Points</th>
            <th>Guests</th>
        </tr>
        <tr th:each="race : ${races}">
            <td th:text="${race.number}"></td>
            <td th:each="player:${playersHosts}" th:if="${race.redHelmetHostsPlayerId == player.id}"
                th:text="${player.firstName} + ' ' + ${player.lastName}"></td>
            <td th:text="${race.pointsRedHelmetHostsPlayer}"></td>
            <td th:each="player:${playersHosts}" th:if="${race.blueHelmetHostsPlayerId == player.id}"
                th:text="${player.firstName} + ' ' + ${player.lastName}"></td>
            <td th:text="${race.pointsBlueHelmetHostsPlayer}"></td>
            <td th:each="player:${playersGuests}" th:if="${race.whiteHelmetGuestsPlayerId == player.id}"
                th:text="${player.firstName} + ' ' + ${player.lastName}"></td>
            <td th:text="${race.pointsWhiteHelmetGuestsPlayer}"></td>
            <td th:each="player:${playersGuests}" th:if="${race.yellowHelmetGuestsPlayerId == player.id}"
                th:text="${player.firstName} + ' ' + ${player.lastName}"></td>
            <td th:text="${race.pointsYellowHelmetGuestsPlayer}"></td>
            <td th:text="${gameDto.getHostsName()}"></td>
            <td th:text="${race.pointsRedHelmetHostsPlayer} + ${race.pointsBlueHelmetHostsPlayer}"></td>
            <td th:text="${race.pointsWhiteHelmetGuestsPlayer} + ${race.pointsYellowHelmetGuestsPlayer}"></td>
            <td th:text="${gameDto.getGuestsName()}"></td>
            <td><a th:href="'/delete_race_statement?id=' + ${race.id}">Delete race</a></td>
            <td><a th:href="'/update_race?id=' + ${race.id}">Update race</a></td>
        </tr>
    </table>
    <h2><a th:href="'/create_races?gameId=' + ${gameDto.id}">Add new race!</a></h2>
</div>
<div>
    <h2 th:text="${gameDto.hostsName} + ':'"></h2>
    <div th:if="${playersHosts.isEmpty()}">
        <h2 style="color:red">This team has no players yet!</h2>
        <h3><a th:href="'/create_player'">Create player</a></h3>
    </div>
    <div th:unless="${playersHosts.isEmpty()}">
        <table>
            <tr>
                <th>Player</th>
                <th>Points in game</th>
            </tr>
            <tr th:each="player:${playersHosts}">
                <td th:text="${player.firstName + ' ' + player.lastName}"></td>
                <td th:each="pointPlayerInGame : ${pointsPlayerInGame}"
                    th:if="${pointPlayerInGame.getKey() == player.id}"
                    th:text="${pointPlayerInGame.getValue()}"></td>
            </tr>
        </table>
    </div>
</div>
<div>
    <h2 th:text="${gameDto.guestsName} + ':'"></h2>
    <div th:if="${playersGuests.isEmpty()}">
        <h2 style="color:red">This team has no players yet!</h2>
        <h3><a th:href="'/create_player'">Create player</a></h3>
    </div>
    <div th:unless="${playersGuests.isEmpty()}">
        <table>
            <tr>
                <th>Player</th>
                <th>Points in game</th>
            </tr>
            <tr th:each="player:${playersGuests}">
                <td th:text="${player.firstName + ' ' + player.lastName}"></td>
                <td th:each="pointPlayerInGame : ${pointsPlayerInGame}"
                    th:if="${pointPlayerInGame.getKey() == player.id}"
                    th:text="${pointPlayerInGame.getValue()}"></td>
            </tr>
        </table>
    </div>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>