<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
</head>
<body>
<div class="all">
    <header th:replace="common_part :: header"></header>
    <div class="page_content">
        <div class="welcome">
            <h1>Welcome in <span class="application_name">Speedway Application</span>!</h1>
            <h1>Nice to see you!</h1>
        </div>
        <div class=" message" th:if="${login} == null">
            <h3>Login to your profile</h3>
            <a th:href="'login'">
                <button>Login</button>
            </a>
            <h3>If you don't have a profile, create one</h3>
            <a th:href="'create_user'">
                <button>Register</button>
            </a>
        </div>
        <div class="info">
            <ul class="accordion">
                <li>
                    <button class="accordion_control">About application</button>
                    <div class="accordion_panel">
                        <p>Speedway application is an application for real speedway fans. Start by creating your account
                            in it, then create your own teams, create and assign players to them, and then manage
                            matches and races between them. The whole history of speedway meetings at your fingertips,
                            online.<br><span class="important_content">Have fun!</span></p>
                    </div>
                </li>
                <li>
                    <button class="accordion_control">About speedway</button>
                    <div class="accordion_panel">
                        <p>Motorcycle speedway, usually referred to as speedway, is a motorcycle sport involving four
                            and sometimes up to six riders competing over four anti-clockwise laps of an oval circuit.
                            The motorcycles are specialist machines which use only one gear and have no brakes; racing
                            takes place on a flat oval track usually consisting of dirt, loosely packed shale, or
                            crushed rock (mostly used in Australia and New Zealand). Competitors use this surface to
                            slide their machines sideways, powersliding or broadsiding into the bends. On the straight
                            sections of the track the motorcycles reach speeds of up to 70 miles per hour (110 km/h).
                            There are now both domestic and international competitions in a number of countries
                            including the Speedway World Cup whilst the highest overall scoring individual in the
                            Speedway Grand Prix events is pronounced the world champion. Speedway is popular in Central
                            and Northern Europe and to a lesser extent in Australia and North America. A variant of
                            track racing, speedway is administered internationally by the Fédération Internationale de
                            Motocyclisme (FIM). Domestic speedway events are regulated by FIM affiliated national motor
                            sport federations.You can read more about speedway <a class="reference"
                                                                                  href="https://en.wikipedia.org/wiki/Motorcycle_speedway"
                                                                                  target="_blank">here</a>.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="common_part :: footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/accordion.js"></script>
</body>
</html>