<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login error</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
</head>
<body>
<div class="all">
    <header th:replace="common_part :: header"></header>
    <div class="page_content">
        <div class="message">
            <h1>Error!</h1>
            <h3>Login failed, incorrect login or password, please try again!</h3>
            <a th:href="'login'">
                <button>Login</button>
            </a>
        </div>
    </div>
</div>
<footer th:replace="common_part :: footer"></footer>
</body>
</html>