<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
</head>
<body>
<div class="all">
<header th:replace="common_part :: header"></header>
    <div class="page_content">
    <h1 class="heading"><span>Login</span></h1>
        <div th:if="${login} == null">
            <div class="message">
                <h3>You are not logged in, please do it using the form below:</h3>
            </div>
        <div class="form_content">
        <form th:action="@{/login}" method="post">
        <fieldset>
        <div>
        <label>
            Login:
            <input type="text" name="username" required>
        </label>
        </div>
        <div>
        <label>
            Password:
            <input type="password" name="password" required>
        </label>
        </div>
        </fieldset>
        <div class="submit">
        <button type="submit" value="Login">Login</button>
        </div>
        </form>
        </div>
        <div class="message">
            <h3>You don't have a profile created? Create a new user <a class="reference" th:href="'create_user'">here</a></h3>
        </div>
    </div>
        <div th:unless="${login} == null">
            <div class="message">
                <h3><span class="mark" th:text="${login}"></span> <span th:text="' you are already logged in'"></span></h3>
                <a th:href="'/logout_user_statement?id=' + ${userDTO.id}"><button >Log out</button></a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="common_part :: footer"></footer>
</body>

</html>