<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout User Statement</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
</head>
<body>
<div class="all">
    <header th:replace="common_part :: header"></header>
    <div class="page_content">
        <div class="message">
            <h3><span class="mark" th:text="${userDTO.login}"></span>
                <span th:text="' do you want to log out of the application?'"></span>
            </h3>
            <a th:href="'logout'">
                <button>Yes</button>
            </a>
        </div>
    </div>
</div>
<footer th:replace="common_part :: footer"></footer>
</body>
</html>