<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player Already Exists Update Error</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1 style="color:red">Error!</h1>
<h2>Player with this data is already exists,please try again!</h2>
<h3><a th:href="'/update_player?id=' + ${playerDTO.id}">Update player again</a></h3>
<h3><a th:href="'/player_details?id=' + ${playerDTO.id}">Player details</a></h3>
<h3><a th:href="'/user_players?id=' + ${userDTO.id}">Your players</a></h3>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>