<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Player details</title>
</head>
<body>
<h1>Player details:</h1>
<h2 th:text="'First name: ' + ${playerDto.firstName}"/>
<h2 th:text="'Last name: ' + ${playerDto.lastName}"/>
<h2 th:text="'Nick name: ' + ${playerDto.nickName}"/>
<h2 th:text="'Birth year: ' + ${playerDto.birthYear}"/>
<h2 th:text="'Nationality: ' + ${playerDto.nationality}"/>
<h2 th:each="team: ${userTeams}" th:if="${playerDto.teamId == team.id}" th:text="'Team: ' + ${team.name}"/>
<h2>Games:</h2>
<div th:if="${playerRaces.isEmpty()}">
    <h2 style="color:red">This player has no games yet</h2>
</div>
<div th:unless="${playerRaces.isEmpty()}">
    <table>
        <tr>
            <th>Date</th>
            <th>Hosts</th>
            <th>Host points</th>
            <th>Guest points</th>
            <th>Guests</th>
            <th>Points in game</th>
        </tr>
        <tr th:each="game:${playerGames}">
            <td th:text="${game.date}"></td>
            <td th:text="${game.hostsName}"></td>
            <td th:text="${game.hostPoints}"></td>
            <td th:text="${game.guestPoints}"></td>
            <td th:text="${game.guestsName}"></td>
            <td th:each="pointInGame:${pointsInGame}" th:if="${pointInGame.getKey() == game.id}"
                th:text="${pointInGame.getValue()}"></td>
            <td><a th:href="'/game_details?id=' + ${game.id}">Game details</a></td>
        </tr>
    </table>
</div>
<h2>Races :</h2>
<div th:if="${playerRaces.isEmpty()}">
    <h2 style="color:red">This player has no races yet</h2>
</div>
<div th:unless="${playerRaces.isEmpty()}">
    <table>
        <tr>
            <th>Date</th>
            <th>Hosts</th>
            <th>Hosts Points</th>
            <th>Guests Points</th>
            <th>Guests</th>
            <th>Red Helmet Player</th>
            <th>Red Helmet Player Points</th>
            <th>Blue Helmet Player</th>
            <th>Blue Helmet Player Points</th>
            <th>White Helmet Player</th>
            <th>White Helmet Player Points</th>
            <th>Yellow Helmet Player</th>
            <th>Yellow Helmet Player Points</th>

        </tr>
        <tr th:each="race : ${playerRaces}">
            <td th:each="game : ${playerGames}" th:if="${race.gameId==game.id}" th:text="${game.date}"></td>
            <td th:each="game : ${playerGames}" th:if="${race.gameId==game.id}" th:text="${game.hostsName}"></td>
            <td th:text="${race.pointsRedHelmetHostsPlayer} + ${race.pointsBlueHelmetHostsPlayer}"></td>
            <td th:text="${race.pointsWhiteHelmetGuestsPlayer} + ${race.pointsYellowHelmetGuestsPlayer}"></td>
            <td th:each="game : ${playerGames}" th:if="${race.gameId==game.id}" th:text="${game.guestsName}"></td>
            <td th:each="player:${allPlayers}" th:if="${race.redHelmetHostsPlayerId == player.id}"
                th:text="${player.firstName + ' ' + player.lastName}"></td>
            <td th:text="${race.pointsRedHelmetHostsPlayer}"></td>
            <td th:each="player:${allPlayers}" th:if="${race.blueHelmetHostsPlayerId == player.id}"
                th:text="${player.firstName + ' ' + player.lastName}"></td>
            <td th:text="${race.pointsBlueHelmetHostsPlayer}"></td>
            <td th:each="player:${allPlayers}" th:if="${race.whiteHelmetGuestsPlayerId == player.id}"
                th:text="${player.firstName + ' ' + player.lastName}"></td>
            <td th:text="${race.pointsWhiteHelmetGuestsPlayer}"></td>
            <td th:each="player:${allPlayers}" th:if="${race.yellowHelmetGuestsPlayerId == player.id}"
                th:text="${player.firstName + ' ' + player.lastName}"></td>
            <td th:text="${race.pointsYellowHelmetGuestsPlayer}"></td>
            <td><a th:href="'/delete_race_statement?id=' + ${race.id}">Delete race</a></td>
        </tr>
    </table>
</div>
<div th:unless="${playerRaces.isEmpty()}">
    <h2>Sum of points in all games:</h2>
    <h3 style="color:mediumvioletred" th:text="${sumPlayerPoints}"></h3>
    <h2>Average of points scored per game:</h2>
    <h3 style="color:mediumvioletred" th:text="${averagePerGame}"></h3>
    <h2>Average of points scored per race:</h2>
    <h3 style="color:mediumvioletred" th:text="${averagePerRace}"></h3>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>