<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Race Already Exists Update Error</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1 style="color:red">Error!</h1>
<h2>Race with this data is already exists,please try again!</h2>
<h3><a th:href="'/update_race?id=' + ${raceDTO.id}">Update race again</a></h3>
<h3><a th:href="'/game_details?id=' + ${gameDTO.id}">Back to game details</a></h3>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>