<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Team details</title>
</head>
<body>
<h1>Team details:</h1>
<h2 th:text="'Name: '  + ${teamDto.name}"/>
<h2 th:text="'City: ' + ${teamDto.city}"/>
<h2 th:text="'Coach: ' + ${teamDto.coach}"/>
<h2>Players:</h2>
<div th:if="${userPlayersInTeam.isEmpty()} or ${userPlayersInTeam} == null">
    <h2 style="color:red">This team has no players yet!</h2>
    <h3><a th:href="'create_player'">Create new player</a></h3>
</div>
<div th:unless="${userPlayersInTeam.isEmpty()} or ${userPlayersInTeam} == null">
    <table>
        <tr>
            <th>Player:</th>
        </tr>
        <tr th:each="player : ${userPlayersInTeam}">
            <td th:text="${player.firstName} + ' ' + ${player.lastName}"></td>
            <td><a th:href="'/delete_player_statement?id=' + ${player.id}">Delete</a></td>
            <td><a th:href="'/update_player?id=' + ${player.id}">Update</a></td>
            <td><a th:href="'/player_details?id=' + ${player.id}">Player details</a></td>
        </tr>
    </table>
    <h2><a th:href="'create_player'">Add new player</a></h2>
</div>
<h2>Games:</h2>
<div th:if="${allTeamGamesDTO.isEmpty()} or ${allTeamGamesDTO} == null">
    <h2 style="color:red">This team has no games yet!</h2>
    <h3><a th:href="'create_game'">Create new game</a></h3>
</div>
<div th:unless="${allTeamGamesDTO.isEmpty()} or ${allTeamGamesDTO} == null">
    <table>
        <tr>
            <th>Date</th>
            <th>Hosts</th>
            <th>Host points</th>
            <th>Guest points</th>
            <th>Guests</th>
        </tr>
        <tr th:each="game : ${allTeamGamesDTO}">
            <td th:text="${game.getDate()}"></td>
            <td th:text="${game.hostsName}"></td>
            <td th:text="${game.hostPoints}"></td>
            <td th:text="${game.guestPoints}"></td>
            <td th:text="${game.guestsName}"></td>
            <td><a th:href="'/create_races?gameId=' + ${game.id}">Create races</a></td>
            <td><a th:href="'/delete_game_statement?id=' + ${game.id}">Delete</a></td>
            <td><a th:href="'/update_game?id=' + ${game.id}">Edit</a></td>
            <td><a th:href="'/game_details?id=' + ${game.id}">Game details</a></td>
        </tr>
    </table>
    <h2><a th:href="'create_game'">Add new game</a></h2>
    <h2>Number of all games : </h2>
    <span style="color:darkred" th:text="${numberOfAllGames}"></span>
    <h2>Number of games won : </h2>
    <span style="color:darkred" th:text="${numberGamesWon}"></span>
    <h2>Number of games tied : </h2>
    <span style="color:darkred" th:text="${numberGamesTied}"></span>
    <h2>Number of games lost : </h2>
    <span style="color:darkred" th:text="${numberGamesLost}"></span>
    <h2>Points scored in all games:</h2>
    <span style="color:darkred" th:text="${sumPointsScored}"></span>
    <h2>Average of the points scored per game:</h2>
    <span style="color:darkred" th:text="${averageOfPointsScored}"></span>
    <h2>Points lost in all games:</h2>
    <span style="color:darkred" th:text="${sumPointsLost}"></span>
    <h2>Average of the points lost per game:</h2>
    <span style="color:darkred" th:text="${averageOfPointsLost}"></span>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>