<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team Already Exists Update Error</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1 style="color:red">Error!</h1>
<h2>Team with this data is already exists,please try again</h2>
<h3><a th:href="'/update_team?id=' + ${teamDTO.id}">Update team again</a></h3>
<h3><a th:href="'/team_details?id=' + ${teamDTO.id}">Team details</a></h3>
<h3><a th:href="'/user_teams?id=' + ${userDTO.id}">Your teams</a></h3>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>