<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Update player</title>
</head>
<body>
<h1>Update your player</h1>
<form action="#" th:action="@{'/update_player/' + ${id}}" th:object="${updatePlayerDTO}" method="post">
    <label>
        Update First Name:
        <input type="text" th:field="*{firstName}">
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </label>
    </br>
    <label>
        Update Last Name:
        <input type="text" th:field="*{lastName}">
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </label>
    </br>
    <label>
        Update Nick name:
        <input type="text" th:field="*{nickName}">
        <div style="color:red" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}"></div>
    </label>
    </br>
    Update BirthYear:
    <input type="text" th:field="*{birthYear}">
    <div style="color:red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}"></div>
    </label>
    </br>
    <label>
        Update Nationality:
        <select th:field="*{nationality}">
        <span th:each="nationality : ${nationalityList}">
            <option th:value="${nationality}"><span th:text="${nationality}"></span></option>
        </span>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}"></div>
    </label>
    </br>
    <label>
    </label>
    <input type="submit" value="Update"/>
</form>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>