<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h1>Update your profile</h1>
<form action="#" th:action="@{'/update_user/' + ${id}}" th:object="${updateUserDTO}" method="post">
    <label>
        Update Password:
        <input type="password" th:field="*{password}">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </label>
    </br>
    <label>
        Repeat password:
        <input type="password" th:field="*{rePassword}">
        <div style="color:red" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"></div>
    </label>
    </br>
    <label>
        Update First Name:
        <input type="text" th:field="*{firstName}">
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </label>
    </br>
    <label>
        Update Last Name:
        <input type="text" th:field="*{lastName}">
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </label>
    </br>
    <label>
        Update Email:
        <input type="email" th:field="*{email}">
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </label>
    </br>
    <label>
        Update City:
        <input type="text" th:field="*{city}">
        <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
    </label>
    </br>
    <input type="submit" value="Update"/>
</form>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>