<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Update game</title>
</head>
<body>
<h1>Update your game</h1>
<form action="#" th:action="@{'/update_game/' + ${id}}" th:object="${createUpdateGameDTO}" method="post">
    <label>
        Update Description:
        <textarea type="text" th:field="*{description}"></textarea>
        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
        </div>
    </label>
    </br>
    <label>
        Update Date:
        <input type="date" th:field="*{date}">
        <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
    </label>
    </br>
    <label>
        Update Hosts:
        <select th:field="*{hostsName}">
        <span th:each="team:${userTeamNames}">
            <option th:value="${team}"><span th:text="${team}"></span></option>
        </span>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('hostsName')}" th:errors="*{hostsName}"></div>
    </label>
    </br>
    <label>
        Update Guests:
        <select th:field="*{guestsName}">
        <span th:each="team:${userTeamNames}">
            <option th:value="${team}"><span th:text="${team}"></span></option>
        </span>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('guestsName')}" th:errors="*{guestsName}"></div>
    </label>
    </br>
    <input type="submit" value="Update"/>
</form>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>