<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update your race</h1>
<form action="#" th:action="@{'/update_race/' + ${id}}" th:object="${createUpdateRaceDTO}" method="post">
    <label>
        Update Race Number:
        <select th:field="*{number}">
        <span th:each="raceNumber:${raceNumbers}">
        <option th:value="${raceNumber}"><span th:text="${raceNumber}"></span></option>
        </span>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">
        </div>
    </label>
    </br>
    <label>
        Update Red Helmet Player:
        <select th:field="*{redHelmetHostsPlayerId}">
                <span th:each="player:${playerHosts}">
                    <option th:value="${player.id}"><span
                            th:text="${player.firstName} + ' ' + ${player.lastName}"></span></option>
                </span>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('redHelmetHostsPlayerId')}"
             th:errors="*{redHelmetHostsPlayerId}">
        </div>
    </label>
    </br>
    <label>
        Update Red Helmet Player Points:
        <input type="radio" th:field="*{pointsRedHelmetHostsPlayer}" th:each="point:${points}" th:value="${point}"
               th:text="${point}">
        <div style="color:red" th:if="${#fields.hasErrors('pointsRedHelmetHostsPlayer')}"
             th:errors="*{pointsRedHelmetHostsPlayer}">
        </div>
    </label>
    </br>
    <label>
        Update Blue Helmet Player:
        <select th:field="*{blueHelmetHostsPlayerId}">
                <span th:each="player:${playerHosts}">
                    <option th:value="${player.id}"><span
                            th:text="${player.firstName} + ' ' + ${player.lastName}"></span></option>
                </span>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('blueHelmetHostsPlayerId')}"
             th:errors="*{blueHelmetHostsPlayerId}">
        </div>
    </label>
    </br>
    <label>
        Update Blue Helmet Player Points:
        <input type="radio" th:field="*{pointsBlueHelmetHostsPlayer}" th:each="point:${points}" th:value="${point}"
               th:text="${point}">
        <div style="color:red" th:if="${#fields.hasErrors('pointsBlueHelmetHostsPlayer')}"
             th:errors="*{pointsBlueHelmetHostsPlayer}"></div>
    </label>
    </br>
    <label>
        Update White Helmet Player:
        <select th:field="*{whiteHelmetGuestsPlayerId}">
                <span th:each="player:${playerGuests}">
                    <option th:value="${player.id}"><span
                            th:text="${player.firstName} + ' ' + ${player.lastName}"></span></option>
                </span>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('whiteHelmetGuestsPlayerId')}"
             th:errors="*{whiteHelmetGuestsPlayerId}">
        </div>
    </label>
    </br>
    <label>
        Update White Helmet Player Points:
        <input type="radio" th:field="*{pointsWhiteHelmetGuestsPlayer}" th:each="point:${points}" th:value="${point}"
               th:text="${point}"></br>
        <div style="color:red" th:if="${#fields.hasErrors('pointsWhiteHelmetGuestsPlayer')}"
             th:errors="*{pointsWhiteHelmetGuestsPlayer}"></div>
    </label>
    <label>
        Update Yellow Helmet Player:
        <select th:field="*{yellowHelmetGuestsPlayerId}">
                <span th:each="player:${playerGuests}">
                    <option th:value="${player.id}"><span
                            th:text="${player.firstName} + ' ' + ${player.lastName}"></span></option>
                </span>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('yellowHelmetGuestsPlayerId')}"
             th:errors="*{yellowHelmetGuestsPlayerId}">
        </div>
    </label>
    </br>
    <label>
        Update Yellow Helmet Player Points:
        <input type="radio" th:field="*{pointsYellowHelmetGuestsPlayer}" th:each="point:${points}" th:value="${point}"
               th:text="${point}">
        <div style="color:red" th:if="${#fields.hasErrors('pointsYellowHelmetGuestsPlayer')}"
             th:errors="*{pointsYellowHelmetGuestsPlayer}"></div>
    </label>
    </br>
    <input type="submit" value="Update"/>
</form>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>