<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Update team</title>
</head>
<body>
<h1>Update your team</h1>
<form action="#" th:action="@{'/update_team/' + ${id}}" th:object="${createUpdateTeamDTO}" method="post">
    <label>
        Update Name:
        <input type="text" th:field="*{name}">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </label>
    </br>
    <label>
        Update City:
        <input type="text" th:field="*{city}">
        <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
    </label>
    </br>
    <label>
        Update Coach:
        <input type="text" th:field="*{coach}">
        <div style="color:red" th:if="${#fields.hasErrors('coach')}" th:errors="*{coach}"></div>
    </label>
    </br>
    <input type="submit" value="Update"/>
</form>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>