<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>User players</title>
</head>
<body>
<h1 th:text="'Hello ' + ${userDTO.login} + ' your players: '"></h1>
<div th:if="${players.isEmpty()}">
    <h2>You don't have any players!</h2>
    <h2><a th:href="'create_player'">Create new player</a></h2>
</div>
<div th:unless="${players.isEmpty()}">
    <table>
        <tr>
            <th>Player</th>
            <th>Team</th>
        </tr>
        <tr th:each="player : ${players}">
            <td th:text="${player.firstName} + ' ' + ${player.lastName}"></td>
            <td th:each="team: ${userTeams}" th:if="${player.teamId == team.id}" th:text="${team.name}"></td>
            <td><a th:href="'/delete_player_statement?id=' + ${player.id}">Delete</a></td>
            <td><a th:href="'/update_player?id=' + ${player.id}">Update</a></td>
            <td><a th:href="'/player_details?id=' + ${player.id}">Player details</a></td>
        </tr>
    </table>
    <div><h2><a th:href="'create_player'">Create new player</a></h2></div>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>