<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>User games</title>
</head>
<body>
<h1 th:text="'Hello ' + ${userDTO.login} + ' your games: '"></h1>
<div th:if="${games.isEmpty()}">
    <h2>You don't have any games</h2>
    <h3><a th:href="'create_game'">Create new game</a></h3>

</div>
<div th:unless="${games.isEmpty()}">
    <table>
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Hosts</th>
            <th>Host points</th>
            <th>Guest points</th>
            <th>Guests</th>
        </tr>
        <tr th:each="game : ${games}">
            <td th:text="${game.description}"></td>
            <td th:text="${game.date}"></td>
            <td th:text="${game.hostsName}"></td>
            <td th:text="${game.hostPoints}"></td>
            <td th:text="${game.guestPoints}"></td>
            <td th:text="${game.guestsName}"></td>
            <td><a th:href="'/create_races?gameId=' + ${game.id}">Create races</a></td>
            <td><a th:href="'/delete_game_statement?id=' + ${game.id}">Delete</a></td>
            <td><a th:href="'/update_game?id=' + ${game.id}">Update</a></td>
            <td><a th:href="'/game_details?id=' + ${game.id}">Game details</a></td>
        </tr>
    </table>
    <h2><a th:href="'create_game'">Create new game</a></h2>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>