<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users:</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Is Admin</th>
    </tr>
    <tr th:each="user : ${usersDto}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.city}"></td>
        <td th:text="${user.isAdmin()}"></td>
        <td><a th:href="'/user_profile?id=' + ${user.id}">User profile</a></td>
        <td><a th:href="'/delete_user?id=' + ${user.id}">Delete user</a></td>
    </tr>
</table>
</body>
</html>