<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>User teams</title>
</head>
<body>
<h1 th:text="'Hello ' + ${userDTO.login} + ' your teams: '"></h1>
<div th:if="${teams.isEmpty()}">
    <h2>You don't have any teams!</h2>
    <h2><a th:href="'create_team'">Create new team</a></h2>
</div>
<div th:unless="${teams.isEmpty()}">
    <table>
        <tr th:each="team : ${teams}">
            <td th:text="${team.name}"></td>
            <td><a th:href="'/delete_team_statement?id=' + ${team.id}">Delete</a></td>
            <td><a th:href="'/update_team?id=' + ${team.id}">Update</a></td>
            <td><a th:href="'/team_details?id=' + ${team.id}">Team details</a></td>
        </tr>
    </table>
    <h2><a th:href="'create_team'">Create new team</a></h2>
    <h2><a th:href="'create_player'">Create new player</a></h2>
</div>
<h2><a style="color:purple" th:href="'homepage'"> Back to homepage</a></h2>
</body>
</html>