<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
</head>
<body>
<div class="all">
    <header th:replace="common_part :: header"></header>
    <div class="page_content">
        <h1 class="heading"><span>Your Profile</span></h1>
        <div class="message">
            <h2><span th:text="'Login: '"></span> <span class="mark" th:text="${userDTO.login}"></span></h2>
            <h2><span th:text="'First name: '"></span> <span class="mark" th:text="${userDTO.firstName}"></span></h2>
            <h2><span th:text="'Last name: '"></span> <span class="mark" th:text="${userDTO.lastName}"/></span></h2>
            <h2><span th:text="'Email: '"></span> <span class="mark" th:text="${userDTO.email}"></span></h2>
            <h2><span th:text="'City: '"></span> <span class="mark" th:text="${userDTO.city}"></span></h2>
        </div>
        <div class="buttons_div">
            <a th:href="'/user_teams?id=' + ${userDTO.id}"><button>Your teams</button></a>
        <a th:href="'/user_players?id=' + ${userDTO.id}"><button>Your players</button></a>
        <a th:href="'/user_games?id=' + ${userDTO.id}"><button>Your games</button></a>
        <a th:href="'/update_user?id=' + ${userDTO.id}"><button>Update your profile</button></a>
        <a th:href="'/delete_profile_statement?id=' + ${userDTO.id}"><button>Delete your profile</button></a>
        <a th:href="'/logout_user_statement?id=' + ${userDTO.id}"><button>Log out</button></a>
    </div>
</div>
</div>
<footer th:replace="common_part :: footer"></footer>
</body>
</html>