<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome In Application</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<h2 th:text="'Hello ' + ${userDTO.login} + ' !'"/>
<h3>Welcome in Speedway Application</h3>
<h3>You created new user!</h3>
<h2><a th:href="'/login'">Log in to the application</a></h2>
<h2><a style="color:purple" th:href="'/homepage'"> Back to homepage</a></h2>
</body>
</html>